<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debug</key>
	<dict>
		<key>endpoints</key>
		<dict>
			<key>listing</key>
			<string>${bundle}/listing</string>
			<key>detail</key>
			<string>${bundle}/detail</string>
		</dict>
	</dict>
	<key>release</key>
	<dict>
		<key>endpoints</key>
		<dict>
			<key>listing</key>
			<string>https://maps.googleapis.com/maps/api/place/nearbysearch/json</string>
			<key>detail</key>
			<string>https://maps.googleapis.com/maps/api/place/details/json</string>
		</dict>
	</dict>
</dict>
</plist>
